<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
  
<web-app id="WebApp" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<servlet>
	  <servlet-name>CreateAccount</servlet-name>
	  <servlet-class>com.fdm.web.WebTellerServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateAccount</servlet-name>
	  <servlet-class>com.fdm.web.WebTellerServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>CloseAccount</servlet-name>
	  <servlet-class>com.fdm.web.WebTellerServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ViewAccount</servlet-name>
	  <servlet-class>com.fdm.web.WebTellerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
	  <servlet-name>CreateAccount</servlet-name>
	  <url-pattern>/webpages/CreateAccount.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateAccount</servlet-name>
	  <url-pattern>/webpages/UpdateAccount.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>CloseAccount</servlet-name>
	  <url-pattern>/webpages/CloseAccount.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ViewAccount</servlet-name>
	  <url-pattern>/webpages/ViewAccountSummary.do</url-pattern>
	</servlet-mapping>


  	<jsp-config>
	  <jsp-property-group>
	    <url-pattern>*.jsp</url-pattern>
	    <el-ignored>false</el-ignored>
	    <scripting-enabled>true</scripting-enabled>
	  </jsp-property-group>
	</jsp-config>

</web-app>